<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <div id="header">
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/e0/202002_Laboratory_instrument_dna.svg" alt="dna logo" width="50px"height="50px">
        <h1>Protein Browser</h2>
        </div>
        <div id="navigation">
            <a href="/">Home</a>
        </div>
        <div id="content">
            <p>This is some holder content before we develop the application</p>
        </div>
        <div id="footer">
            <hr>
            <p>Advanced web development midterm</p>
        </div>
    </body>
</html>